@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
/* semantic color variables for this project */
:root {
  --color-background: #fff;


  --primary:#8BC6AE;
  --primary-light:#C5E2D6;
  --primary-dark:#466357;

  --secondary:#97A1DA;
  --secondary-light:#CBD0EC;
  --secondary-dark:#4C516D;
}



body {
  min-height: 100vh;
  background: var(--color-background);
  line-height: 1.6;
  font-family: 'Open Sans', 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
